@import url("https://fonts.googleapis.com/css?family=Tangerine");
* {
    /* font-family: 'Tangerine', serif; */
    /* text-shadow: 4px 4px 4px #aaa; */
}

/* For index.html */
body{
    background: url("/assets/images/GoldAndBlackBackground.png");
}

h1 {margin-bottom: 40px;
}

h2 {text-align: center;
    margin-bottom: 20px;
}

.MainParagraphs, h2 {
    margin-top: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
