@import url("https://fonts.googleapis.com/css?family=Tangerine");
* {
    font-family: 'Tangerine', serif;
    color: #ffe66e
}
.nav-link, .nav-brand{
text-decoration-color: #ffe66e;
}

/* Home Page */
h1 {
margin-bottom: 40px;
text-shadow: 4px 4px 4px #ffe66e;
}

h2 {
text-align: center;
margin-bottom: 20px;
text-shadow: 4px 4px 4px #ffe66e;
}

.MainParagraphs, h2 {
    margin-top: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.jumbotron{
    background-color: red;
    opacity: 0.5;
}

/* Portfolio Page */
.mb-3{
    border: solid white 5px ;
}
h5{
text-shadow: 4px 4px 4px #ffe66e;  
}
.marginRight {
margin-right: 3px;

}

.marginLeft{
margin-left: 3px;
}

.g-0{
    background-color: black;
}
small{
    color: white;
}

.btn-dark:hover{

cursor: pointer;
box-shadow: 0 0.4rem 1.4rem 0 #ffe66e;
transition: transform 150ms;
transform: scale(1.03);
color: #ffe66e;
}

/* Contact Page */
.img-fluid{
    color: red;
}

.form-control{
text-shadow: 4px 4px 4px #ffe66e;
}
