@import url("https://fonts.googleapis.com/css?family=Tangerine");
* {
    font-family: 'Tangerine', serif;
    color: #ffe66e
}
.nav-link, .nav-brand {
text-decoration-color: #ffe66e;
}
.navbar-toggler {
    background-color: black;
    border-color: #ffe66e;
}
.navbar-toggler:hover {
    color: #ffe66e;
}
.fa-gem {
    background-color: black;
    color:#ffe66e; 
    font: size 30px;
}

#Beach, #Dancing, #communityService .professionalPhoto {
width: auto;
height: auto;
}
p {
    font-size: x-large; 
}

/* Home Page */
nav {
    color: orange;
}

.jumbotron {
    border-bottom: solid white;
    /* border-top: solid white; */
}
h1 {
margin-bottom: 40px;
text-shadow: 4px 4px 4px #ffe66e;
}

h2 {
text-align: center;
margin-bottom: 20px;
font-size: xx-large;
text-shadow: 4px 4px 4px #ffe66e;
}

.MainParagraphs, h2 {
    margin-top: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Portfolio Page */
.mb-3 {
    border: solid white 5px ;
}
h5 {
text-shadow: 4px 4px 4px #ffe66e;
font-size: xx-large;
}
.marginRight {
margin-right: 3px;
}

.marginLeft {
margin-left: 3px;
}

.g-0 {
    background-color: black;
}

.btn-dark:hover {
cursor: pointer;
box-shadow: 0 0.4rem 1.4rem 0 #ffe66e;
transition: transform 150ms;
transform: scale(1.03);
color: #ffe66e;
}

/* Contact Page */

.form-control {
text-shadow: 4px 4px 4px #ffe66e;
}

footer, .jumbotron {
    background: black;
    opacity: 0.8;
}
/* .pFooter{
text-align: center;
} */
